/* Title Section */
#title {
    background-color: white;
    background-image: url("../images/bg3.jpg");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.container-fluid {
    padding: 1% 5% 1% 5%;
}

h1 {
    color: white;
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 3.3rem;
    line-height: 2.5;
}
h2 {
    color: white;
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2;
}

h3 {
    color: white;
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
}

h4 {
    color: white;
    font-family: 'Bitter', serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
}
h5 {
    color: white;
    font-family: 'Bitter', serif;
    font-size: 1.3rem;
    line-height: 1.5;
}

p {
    color: white;
    font-family: 'Bitter', serif;
    font-size: 1rem;
    line-height: 1.3;
    text-align: left;
    word-spacing: .6mm;
}

/*Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
} 

.navbar-brand {
    font-family:'Ubunto';
    font-size: 2.5rem;
    font-weight: bold;

}

.navbar-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Bitter', serif;
    font-size: 1.2rem;
    font-weight: bold;

}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



/* ABOUT Section */
#about {
    padding: 5% 10%;
    background-color: #38000B;
    position: relative;
    z-index:1;
}

.about-box {
    text-align: center;
    padding: 5%;
}

.icona {
    color: #FF3792;
    margin-bottom: 1rem;
}


.icona:hover {
    color: #FF74B3;
}

/* RESUME Section */
#resume {
    padding: 5% 10%;
    background-color: #88023E;
    position: relative;
    z-index:1;
}

.resume-box {
    text-align: center;
    padding: 5%;
}

.iconr {
    color: #FFB1D4;
    margin-bottom: 1rem;
}

.iconr:hover {
    color: #ffd4e8;
}

.resume-button {
    padding: 6% 10% 3% 10%;
    color: white;
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1;
}
.resume-button:hover {
    color: #FFB1D4;
}

/* PROJECTS Section */
#projects {
    padding: 5% 2%;
    background-color: #d1186c;
    position: relative;
    z-index:1;
}

.projects-box {
    text-align: center;
    padding: 5%;
}

.projects-button {
    padding: 6% 10% 3% 10%;
    color: white;
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1;
}
.projects-button:hover {
    color: #FF3792;
    background-color: #FFB1D4;
}

.projects-header {
    color: black;
}

.projects-column {
    padding: 5% 2%;
}

.card-header {
    background-color: #88023E;
}

.card-body {
    background-color: #38000B;
}

.projects-image {
    width:99%;
    border-radius: 2%;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid #FFB1D4;
    
}

/* Footer Section */
#footer {
    background-color: #ed6197;
    background-image: url("../images/bg3.jpg");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    padding: 3% 9% 1% 9%;
}

#footer p {
    text-align: center;
    color: white;
    line-height: 0.5;
    font-weight: bold;
}

